이 python 파일은 수익률을 구하기 위한 파일입니다.

In [19]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_excel('03for_yield_calculator.xlsx',sheet_name = 'Sheet1')

In [21]:
df.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 3354,Unnamed: 3355,Unnamed: 3356,Unnamed: 3357,Unnamed: 3358,Unnamed: 3359,Unnamed: 3360,Unnamed: 3361,Unnamed: 3362,Unnamed: 3363
0,7380,3270,431852,NaN,NaN,NaN,NaN,18991,14300,4680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7500,3280,441667,NaN,NaN,NaN,NaN,18991,14500,4700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7350,3180,445593,NaN,NaN,NaN,NaN,17540,14650,4630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df2 = df.pct_change()*100
df2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 3354,Unnamed: 3355,Unnamed: 3356,Unnamed: 3357,Unnamed: 3358,Unnamed: 3359,Unnamed: 3360,Unnamed: 3361,Unnamed: 3362,Unnamed: 3363
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.626016,0.305810,2.272769,NaN,NaN,NaN,NaN,0.000000,1.398601,0.427350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-2.000000,-3.048780,0.888905,NaN,NaN,NaN,NaN,-7.640461,1.034483,-1.489362,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.088435,1.886792,4.405141,NaN,NaN,NaN,NaN,-11.134550,0.341297,-0.647948,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.749664,-2.777778,3.375593,NaN,NaN,NaN,NaN,2.303201,5.442177,2.826087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5119,0.246914,0.685871,-0.374532,0.510204,1.810585,-1.808786,0.279330,-1.422742,-1.357466,-1.200000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5120,0.369458,0.544959,1.503759,1.776650,1.778386,0.789474,0.974930,2.061676,-1.146789,0.101215,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5121,0.122699,0.406504,-2.222222,-0.374065,0.806452,-2.872063,3.172414,-1.515777,0.000000,-0.303337,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5122,0.735294,-0.134953,1.893939,1.126408,0.800000,1.209677,-0.133690,1.231489,1.856148,1.926978,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5123,-0.973236,-1.351351,-1.486989,-0.371287,1.587302,0.132802,0.133869,0.911624,-0.683371,-0.497512,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
df2.to_excel('03Real_yield_calculator.xlsx') # 실행 후 맨 밑 행 삭제하고 날짜 한 칸씩 밀린 것 보정할 것